<link rel="stylesheet" href="/src/app/components/mostrar/mostrar.component.css" type="text/css" media="all">


<div>
    <ng-container>
        <div class="container">
            <h1>Usuarios</h1>
            <table class="table">
                <thead class="table-dark">
                    <tr>
                        <th scope="col" id="nombre">Nombre</th>
                        <th scope="col" id="apellido">Apellidos</th>
                        <th scope="col" id="telefono">Telefono</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- directiva -->
                    <tr *ngFor='let usuario of datosUsuarios'>
                        <td>{{usuario.nombres}}</td>
                        <td>{{usuario.apellidos}}</td>
                        <td>{{usuario.telefono}}</td>
                    </tr>
                </tbody>
            </table>
           <!--  <label>Escriba algo:</label>
            <input type="text" name="title" id=""ng [(ngModel)]="title">   -->
            <div *ngFor="let i of numbers">
                {{i}}
            </div>
        </div>
    </ng-container>
