<link rel="stylesheet" href="/src/app/components/mostrar/mostrar.component.css" type="text/css" media="all">

<div>
    <ng-container>
        <div class="container">
            <h1>Usuarios</h1>
            <table class="table">
                <thead class="table-dark">
                    <tr>
                        <th scope="col" id="documento">Documento</th>
                        <th scope="col" id="nombre">Nombre</th>
                        <th scope="col" id="apellido">Apellidos</th>
                        <th scope="col" id="telefono">Telefono</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let usuario of datosUsuarios'>
                        <td>{{usuario.documento}}</td>
                        <td>{{usuario.nombres}}</td>
                        <td>{{usuario.apellidos}}</td>
                        <td>{{usuario.telefono}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </ng-container>
