<link rel="stylesheet" href="/src/app/shared/nav-bar/nav-bar.component.css" type="text/css" media="all">
<script src="/src/app/shared/nav-bar/nav-bar.component.ts"></script>

<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor03">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/inicio">Usuarios</a>
      </li>

    </ul>
  </div>
  <button class="btn navbar-brand" (click)='mostrarLogin=true'>Agregar</button>
</nav>

<div id="ventanaLogin" *ngIf="mostrarLogin" class="">
  <form id="formulario">
     <label for="nombres">Nombres</label>
     <input type="text" id="nombres" name="nombres" [(ngModel)]='nombres'><br>
     <label for="apellidos">Apellidos</label>
     <input type="text" id="apellidos" name="apellidos" [(ngModel)]='apellidos'><br>
     <label for="documento">Documento</label>
     <input type="text" id="documento" name="documento" [(ngModel)]='documento'><br>
     <label for="telefono">Teléfono</label>
     <input type="text" id="telefono" name="telefono" [(ngModel)]='telefono'><br>
     <label for="ciudad">Ciudad</label>
     <input type="text" id="ciudad" name="ciudad" [(ngModel)]='ciudad'><br>
     <label for="direccion">Dirección</label>
     <input type="text" id="direccion" name="direccion" [(ngModel)]='direccion'><br>
     <label for="correo">Correo</label>
     <input type="text" id="correo" name="correo" [(ngModel)]='correo'><br>
     <label for="password">Contraseña</label>
     <input type="text" id="password" name="password" [(ngModel)]='password'><br><br>

     <button type="submit" id="botonIniciar" (click)="verificarUsuario()">Iniciar sesión</button>
     <button type="button" (click)='mostrarLogin=false' id="botonCancelar">Cancelar</button>
  </form>
</div>
